.BodyRegistration{
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover; // ou 'contain', dependendo do efeito desejado

    .LogoImg{
        width: 250px;
    }
}

.Title{
    font-size: 40px;
    margin-top: 20px;
}

.Ilustration{
    width: 450px;
    position: absolute;
    display: flex;
}

.areaInputRegister{
    margin-top: 100px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background-color:#DCDCDC;

    .LabelArea{
        display: flex;
        margin-top: 40px;
        align-items: center;
        gap: 10px;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
    }
}


.Buttons {
    position: absolute;
    display: flex;
    justify-content: space-between; /* Distribui os itens uniformemente na linha */
    width: 20%;
    margin-top: 50% !important;
    margin-left: 925px !important;
}

.Buttons_1{
    position: absolute;
    display: flex;
    justify-content: space-between; /* Distribui os itens uniformemente na linha */
    width: 20%;
    margin-top: 40% !important;
    margin-left: 1060px !important;
}


.FormRegistration{
    width: 50%;
    height: 900px;
    float: right;
    background-color:#DCDCDC;
}