.BodyRegistration{
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover; // ou 'contain', dependendo do efeito desejado

    .LogoImg{
        width: 250px;
    }
}

.Title{
    font-size: 40px;
    margin-top: 20px;
}

.ImgFundo{
    width: 450px;
    position: absolute;
    display: flex;
}

.areaInputRegister{
    margin-top: 100px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background-color:#DCDCDC;

    .LabelArea{
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
    }
}


.btn_login{
    position: absolute;
   margin-top: 540px !important;
   margin-left: 1060px !important;
}

.FormRegistration{
    width: 50%;
    height: 900px;
    float: right;
    background-color:#DCDCDC;
}